@font-face {
    font-family: 'Hanson';
    src: url('HansonBold.eot');
    src: url('HansonBold.eot?#iefix') format('embedded-opentype'),
        url('HansonBold.woff2') format('woff2'),
        url('HansonBold.woff') format('woff'),
        url('HansonBold.ttf') format('truetype'),
        url('HansonBold.svg#HansonBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

